/* @import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css");

@import url("https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@200;300;400;500;700;800;900&display=swap");

:root {
    /*
    --background: #1e293b;
    --background-2: #334155;
    --background-3: #475569;
    */

    
    --background: #171717;
    --background-2: #222;
    --background-3: #333;

    --text-color: #eee;

    --accent: #5637c4;
    --accent-2: #7ad926;

    --text-color-dim: #999;
    --text-color-2: #222;

    --drop-shadow: 3px 3px rgba(0, 0, 0, 0.3);

    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

::-webkit-scrollbar {
    display: none;
}
body {
    background: var(--background) !important;
    color: var(--text-color) !important;
    line-height: 2em !important;
    overflow-x: hidden;
    font-family: "Tajawal" !important;
    font-size: 13px !important;
}
code {
    background: rgba(255, 255, 255, 0.03);
    border-radius: 5px;
    padding: 3px;
}
.hidden {
    display: none;
}
.padding-big {
    padding: 80px !important;
}
.padding {
    padding: 50px !important;
}
.padding-2 {
    padding: 20px !important;
}
.danger {
    color: #f33;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 800 !important;
    font-family: "Libre Franklin" !important;
}

input, button, select {
    background: var(--background-2);
    color: var(--text-color);
    text-align: left;
    border: none;
    outline: 0;
    padding: 5px 30px 5px 30px !important;
    margin: 5px !important;
    font-family: inherit;
    font-size: inherit;
    transition: 50ms;
    box-sizing: border-box;
    box-shadow: var(--drop-shadow);
    filter: brightness(110%);
}
input:focus, button:focus {
    filter: brightness(120%);
    border: 1px solid #111;
    outline: 1px solid #aaa;
}
input[type="checkbox"] {
    width: 15px;
    height: 15px;
    vertical-align: middle;
}
button:hover {
    transform: translate(3px, 3px);
    box-shadow: none;
    background: var(--accent-2);
    color: var(--text-color-2);
}
button:active {
    transform: translate(4px, 4px);
    box-shadow: none;
    filter: brightness(180%);
}
a {
    color: #27d4ff !important;
    text-decoration: none !important;
    cursor: pointer;
    transition: 200ms;
}
a:hover {
    border-bottom: 5px solid #27d4ff;
    margin-bottom: -5px !important;
}

@keyframes loading-bar {
    from {
        left: -30vw;
    }
    to {
        left: 130vw;
    }
}
.gradient-fill-left {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
}
.gradient-fill-right {
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.75) 100%);
}
.lighter-gradient-fill-left {
    background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, var(--background-2) 100%);
}
.lighter-gradient-fill-right {
    background: linear-gradient(-90deg, rgba(0, 0, 0, 0) 0%, var(--background-2) 100%);
}
.big-loading-bar {
    background: var(--accent);
    animation: loading-bar 1s infinite;
    position: fixed;
    z-index: 500;
    width: 60vw;
    height: 5px;
    top: 0px;
}
.align-block-middle {
    margin-top: 50vh;
    transform: translateY(-50%);
}
.default {
    background: var(--background);
}
.lighter {
    background: var(--background-2);
}
.lightest {
    background: var(--background-3);
}
.grey-text {
    color: var(--text-color-dim);
}
.accent {
    background: var(--accent);
    /* color: var(--text-color-2); */
}
.tab {
    margin-bottom: 0px !important;
    box-shadow: none;
}
.tab:hover, .tab:active {
    transform: none;
}
.active-tab {
    font-weight: bold;
}
.social-media-btn {
    padding: 10px 20px 10px 20px;
}
.x {
    background: #333;
}
.instagram {
    background: linear-gradient(45deg, #feda75, #fa7e1e, #d62976, #962fbf, #4f5bd5);
}
.facebook {
    background: #6b53ce;
}
.reddit {
    background: #ff7b00;
}


.topic {
    text-align: left;
    width: 100px;
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.article-thumbnail {
    height: 220px;
    margin: 20px;
    transition: 180ms;
}
.article-thumbnail .col-4 {
    background-size: cover;
    background-position: center;
    height: 100%;
}
.article-thumbnail p, .dimmed-text {
    color: var(--text-color-dim);
}
.article-thumbnail:hover {
    filter: brightness(105%);
}
.article-header {
    /* white-space: pre; */
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
}
#settings {
    padding: 30px;
    margin: 10px;
    transition: 200ms;
    height: fit-content;
}
.retracted {
    /* transform: scaleY(0%); */
    /* filter: opacity(0%); */
    /* margin-top: -250px !important; */
    margin: 0px;
    pointer-events: none;
    user-select: none;
    max-height: 0px;
    /* height: 0px; */
}
@keyframes spinning {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
.spinning {
    display: inline-block;
    animation: spinning 1s infinite;
}
.notice-bg {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    pointer-events: all;
    z-index: 400;
}
.notice-div {
    background: #bbb;
    color: var(--text-color-2);
    padding: 45px;
    position: fixed;
    width: 600px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.no-href-decoration {
    border-bottom: none !important;
}
.indented, .article-content p {
    text-indent: 50px;
}
.loading {
    margin: 10px;
    width: 70px;
}

#sidebar {
    position: fixed;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
}
#navbar-filler {
    height: calc(20px * 2 + 45px);
}
nav {
    position: fixed;
    z-index: 300;
    backdrop-filter: blur(8px);
}