<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>InFact | {{title}}</title>

    <link rel="stylesheet" href="/static/style.css">

    <script src="/static/main.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</head>
<body onload="load();" onerror="alert(event)">
    <div class="row">
        <div class="col-3 lighter padding">
            <p>
                <i class='bi bi-exclamation-circle-fill danger'> </i><b>WARNING:</b><br>
                Your article will be destroyed (idk) time after generation. Please log in or create an account to save.
            </p>
            <p class="grey-text">
                You must be logged in to use this feature...
            </p>
            <p>
                it doesn't work. <b class="danger">DO NOT PRESS THE BUTTON DO NOT PRESS THE BUTTON DO NOT PRESS THE BUTTON DO NOT PRESS THE BUTTON</b>
            </p>
            <button class="w-100"><i class="bi bi-floppy2-fill"></i>&nbsp;&nbsp;Save article</button>
            <br>
            <hr>
            <h4>Advanced Info</h4>
            <ul>
                <li>
                    <span class="grey-text">Total available sites: </span><b>{{total_sites}} sites</b>
                </li>
                <li>
                    <span class="grey-text">Sites omitted: </span><b>{{sites_omitted}} sites</b>
                </li>
                <li>
                    <span class="grey-text">Attempted scrapings: </span><b>{{sites_scraped}} sites</b>
                </li>
                <li>
                    <span class="grey-text">Unscrapable sites: </span><b>{{sites_unscrapable}} sites</b>
                </li>
                <li>
                    <span class="grey-text">Secondary source search time: </span><b>{{execution_time}} s</b>
                </li>
                <li>
                    <span class="grey-text">Article generation time: </span><b>{{helper_time}} s</b>
                </li>
                
            </ul>
        </div>
        <div class="col padding-big">
            <h6 class="danger">CORROBORATED ARTICLE</h6><br>
            <h1>{{title}}</h1><br><hr>
            <button class="accent" onclick="navigator.clipboard.writeText(window.location.href);">
                <i class="bi bi-link-45deg"></i> Copy URL
            </button>
            <button class="social-media-btn x" onclick="shareTwitter()">
                <i class="bi bi-twitter-x"></i>
            </button>
            <button class="social-media-btn instagram" onclick="shareInstagram()">
                <i class="bi bi-instagram"></i>
            </button>
            <button class="social-media-btn facebook" onclick="shareFacebook()">
                <i class="bi bi-facebook"></i>
            </button>
            <button class="social-media-btn reddit" onclick="shareReddit()">
                <i class="bi bi-reddit"></i>
            </button>
            <br><br>
            <div class="row w-100" style="background-image: url('https://www.icegif.com/wp-content/uploads/2022/06/icegif-340.gif'); background-size: cover; background-position: center; height: 385px;">
                <div class="col-6 gradient-fill-right padding">
                    <h3>Article Info</h3>
                    <hr>
                    <h5>Sources</h5>
                    <ul>
                        <li>
                            <img src="/static/leanings/{{lean1}}.png" style="height: 2em">
                            &nbsp;&nbsp;
                            <a href="{{url1}}">{{source1}}</a>
                        </li>
                        <li>
                            <img src="/static/leanings/{{lean2}}.png" style="height: 2em">
                            &nbsp;&nbsp;
                            <a href="{{url2}}">{{source2}}</a>
                        </li>
                    </ul>
                    <hr>
                    <p>
                        <i class='bi bi-exclamation-circle-fill danger'> </i><b>DISCLAIMER:</b><br>
                        Our corroborator may make mistakes, please check both original sources to ensure accuracy.
                    </p>
                </div>
            </div>
            <br>
            <br>
            <span class="article-content">
                {{content|safe}}
            </span>
        </div>
    </div>


    <div class="notice-bg">
        <div style="width: 100vw; height: 100vh; top: 0px; bottom: 0px; position: fixed;" onclick="toggleWindow()"></div>
        <div class="notice-div">
            <h2>Please Fact Check</h2>
            <p>AI may be <b>inaccurate</b>. Please fact check and please review both original sources to <b>ensure</b> accuracy.</p>
            <button onclick="toggleWindow()">Got it</button>
        </div>
    </div>
</body>
</html>